body {
    background-color:rgb(0, 25, 41); 
    color:rgb(203, 245, 255); 
    font-family: Verdana; 
    text-align: center; 
}
h1 {
    font-weight: bold; 
    font-size: 90px; 
    margin: 40px 20px 40px 20px; 
}

.container {
    max-width: 750px; 
    margin: 0 auto; 
}
.row {
    display: flex;   
    height: 100px; 
}

.tile-none {
    border: 4px solid rgba(203, 245, 255, 0.5); 
    color:rgb(203, 245, 255); 
    background-color: rgb(0, 25, 41); 
    flex: 1; 
    transition: 0.3s;
    cursor: pointer;
}
.tile-none:hover {
    border: 4px solid rgb(203, 245, 255); 
    background-color: rgb(0, 59, 95); 
}
.tile-ex {
    border: 4px solid #e24569; 
    color:#e24569; 
    background-color: rgb(41, 0, 3); 
    flex: 1; 
    transition: 0.3s;
}
.tile-circle {
    border: 4px solid #3236ff; 
    color:#3236ff; 
    background-color: rgb(0, 11, 41); 
    flex: 1; 
    transition: 0.3s;
}

.shapes {
    margin: 0; 
    padding: 0; 
}

.exColor {
    color: #e24569; 
}
.circleColor {
    color: #3236ff; 
}

#tagContainer {
    border-top: 2px solid rgb(203, 245, 255); 
}
#firstPrompt {
    margin-top: 75px; 
}
#rowBox {
    border: 2px solid rgb(203, 245, 255); 
    color:rgb(203, 245, 255); 
    background-color: rgb(0, 25, 41); 
    font-size: 35px; 
}
#playDiv {
    margin: 50px 0 50px 0; 
}
#playButton {
    border: 4px solid rgb(203, 245, 255); 
    color:rgb(203, 245, 255); 
    background-color: rgb(0, 25, 41); 
    font-size: 55px; 
    font-weight: bold; 
    transition: 0.3s;
    padding: 20px; 
    cursor: pointer;
}
#playButton:hover {
    border: 4px solid #3236ff; 
    background-color: rgb(0, 11, 41); 
    color: #3236ff; 
}

#resetButton {
    border: 3px solid rgb(203, 245, 255); 
    color:rgb(203, 245, 255); 
    background-color: rgb(0, 25, 41); 
    padding: 20px; 
    font-size: 30px; 
    cursor: pointer;
    position: absolute; 
    transition: 0.3s; 
    top: 55px; 
    right: 40px; 
}
#resetButton:hover {
    border: 3px solid #e24569; 
    background-color: rgb(41, 0, 3); 
    color: #e24569; 
}

#endDiv {
    margin-top: 75px; 
}
#endText {
    margin-top: 50px; 
    font-size: 40px; 
}

.menuText {
    font-size: 35px; 
    font-weight: bold; 
}